<div class="container">
  <h1>Quickly Ñlaim a ticket to support!</h1>
  <p class="lead">Here you can very quickly create a ticket to our support team.</p>
  <div class="btn btn-large btn-success"><%= link_to t(:claim_now), new_gold_dust_ticket_path %></div>
</div>