<div class="container">
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= form_tag :action => :do_login do %>
      <datalist> <%= text_field_tag :mail, nil, :placeholder => "Email" %> </datalist><br>
      <datalist>  <%= password_field_tag :password, nil, :placeholder => "Password" %></datalist><br>
      <datalist> <%= submit_tag 'Sign in', :class => 'btn btn-large btn-primary' %> </datalist><br>
  <% end %>
</div>

