<div class="container">
  <h3>People</h3>
  <%= t(:p_description)  %>
  <h4>Currently Involved People</h4>
  <% @people.each do |u| %>

        <%= "#{u.name.camelize} #{u.surname.camelize}" %><br>
        <%= u.mail %><br><br>


  <% end %>
</div>