<div class="container">

  Use tickets to keep track of bugs, feature requests, or future enhancements for your project. Tickets are a fundamental tool for prioritizing and managing ownership of tasks on your project.
  For more advanced progress reports, look into time tracking. You can easily keep track of how many hours you have spent on different tickets, milestones and projects. Never be in the dark about the health of your project again!

</div>