<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <%= link_to t(:logout), logout_path, :class => 'btn btn-success' %>
        </p>
        <ul class="nav navbar-text">
          <%= t(:all_rights_reserved) %>
          <li class="divider-vertical"></li> |||
          <%= link_to t(:about), about_visitor_index_path %>
        </ul>
      </div>

      <!--/.nav-collapse -->
    </div>
  </div>
</div>